<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common_header(~{::title},~{},~{::style})">
    <title></title>
    <style>
        .required{
            color: red;
            letter-spacing: 6px;
        }
    </style>
</head>
<body>
<div th:replace="common/js::common_js(~{::script})">
    <script th:src="@{/static/role/js/role_detail.js}">
    </script>
</div>
<div class="layui-container layerContent">
    <form class="layui-form">
        <input name="id"   th:value="${role.getId()}?:''" hidden>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="required">*</span>角色名</label>
            <div class="layui-input-block">
                <input type="text" name="name" required  lay-verify="required" th:value="${role.getName()?:''}"
                       placeholder="" th:disabled="${action==1}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="required">*</span>角色标识</label>
            <div class="layui-input-block">
                <input type="text" name="identifier" required  lay-verify="required" th:value="${role.getIdentifier()?:''}"
                       th:disabled="${action==1}"  placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色描述</label>
            <div class="layui-input-block">
                <input type="text" name="remark"  th:value="${role.getRemark()?:''}"
                       th:disabled="${action==1}"  placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-inline btn-position">
            <div type="button" class="layui-btn  " id="doConfirm" lay-submit lay-filter="*">确定</div>
            <div type="button" class="layui-btn layui-btn-primary " id="doCancel">关闭</div>
        </div>

    </form>
</div>

</body>
</html>