html, body {
    width: 100%;
    height: 100%;
}

.top {
    height: 60px;
    width: 100%;
    margin: 0 auto;
    /*background: url("/static/img/5-120601093111.gif");*/
    background: rgb(67,71,83);
    box-shadow: -5px 12px 26px 1px rgb(42,46,58);
    display: flex;
    justify-content: center;
}

.content {
    width: 1200px;
    height: 100%;
    padding: 0;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(50,50,50);
    /*display: flex;*/
    /*justify-content: center;
    align-items: center;*/
    background: rgba(67,71,83,0.8);
}

.mid {
    width: 100%;
    height: 700px;
    padding: 15px 0 0 0;
    display: flex;
    justify-content: center;
}

.child {
    padding-left: 10px;
}

.itemDiv {
    width: 200px;
    margin-top: 10px;
}
.top-container{
    width: 1200px;
    height: 100%;
    padding: 0;
}
.title-container{
    width: 600px;
    height: 100%;
    float: left;
    display: flex;
}
.title-style {
    color: rgb(192,193,192);
    font-size: 20px;
    letter-spacing: 3px;
    font-family: '黑体';
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.items{
    margin: 0 30px;
}

.item{
    float: left;
    margin: 20px 20px;
    height: 180px;
    width: 200px;
    border-radius: 8px;
    border: 1px grey solid;
    box-shadow: 0 0 10px grey;
    background: rgba(255,255,255,0.7);
    transition: 300ms;
    color: rgb(50,50,50);
}

.item:hover{
    cursor: pointer;
    transition: 300ms;
    box-shadow: 0 0 20px rgb(150,150,150);
    background: rgba(69,73,81,0.7);
    color: rgb(192,193,192);
}

.item-name{
    font-size: 24px;
    font-weight: 600;

    text-align: center;
}
.item-icon{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}